body{
    background: black;
    font-family: 'Poppins', sans-serif;
}

.scene {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.petunjuk {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);
}

p{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}